<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    
    <link rel="stylesheet" href="../css/pokedex.css">
</head>

<body>
    <div class="wrapper">
        <a  href="https://fontmeme.com/es/fuente-pokemon/"><img class="titulo" src="https://fontmeme.com/permalink/210523/d6d71dcdd6d49bcc6fd10004764b8f4d.png" alt="fuente-pokemon" border="0"></a>
        <div class="cols">
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front"
                        style=>
                        <div class="inner">
                            <p></p>
                            <span> </span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <a class="boton" href="" target="_blank">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front"
                        style=>
                        <div class="inner">
                            <p></p>
                            <span></span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <a class="boton" href="" target="_blank">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front"
                        style=>
                        <div class="inner">
                            <p></p>
                            <span></span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <a class="boton" href="" target="_blank">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front"
                        style=>
                        <div class="inner">
                            <p></p>
                            <span></span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <a class="boton" href="" target="_blank">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
        
        
        
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front"
                        style=>
                        <div class="inner">
                            <p></p>
                            <span></span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <a class="boton" href="" target="_blank">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front"
                        style=>
                        <div class="inner">
                            <p></p>
                            <span></span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <a class="boton" href="" target="_blank">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front"
                        style=>
                        <div class="inner">
                            <p></p>
                            <span></span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <a class="boton" href="" target="_blank">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front"
                        style=>
                        <div class="inner">
                            <p></p>
                            <span></span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <a class="boton" href="" target="_blank">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
        
        
       
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style=>
                        <div class="inner">
                            <p>	</p>
                            <span></span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <a class="boton" href="" target="_blank">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>

</body>

</html>